/* Features Start */

#features {
  margin-block-start: -6.5rem;
  padding-block-start: 6.5rem;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.features .features-image {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.25rem;
}

.features .features-image img {
  inline-size: 100%;
  block-size: 480px;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.75) grayscale(0) saturate(0);
  transition: filter 0.5s;
  cursor: pointer;
}

.features .features-image img:hover {
  filter: brightness(1.1) grayscale(0) saturate(3);
}

.features dl {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.25rem 1rem;
}

.features dl dt,
.features dl dd {
  inline-size: max-content;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
}

.features dl dd {
  background-color: rgba(50, 50, 50, 20%);
  transition: background-color 0.25s;
}

.features dl dd:hover {
  background-color: rgba(50, 50, 50, 40%);
}

/* Features End */
